# PyCharm IDE user configuration
.idea/*
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf
.idea/modules.xml
*.iml

# auxiliary
problems/**

# environments
.tox
venv

# temporary excluded

# venv
**/venv/**
**/env/**


# python cache, and packages
**/__pycache__/*
**/.pytest_cache
**/*.egg-info/**
build/**

# kate swap
*.kate-swp

# test outputs
tests/test_data/*/output


